.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 125px;
    background-color: #5D04D9;
}

.footer__logo {
    margin-bottom: 5px;
}

.footer__text {
    color: #fff;
    font-size: 14px;
}